{% extends 'base.html' %}

{% block content %}
<hr>
<h1>DETAIL</h1>
<hr>
<h3>{{ movie.title }}</h3>
<p>{{ movie.description }}</p>
<a href="{% url 'movies:update' movie.pk %}">UPDATE</a>
<form action="{% url 'movies:delete' movie.pk %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="delete">
</form>
<a href="{% url 'movies:index' %}">BACK</a>
<hr>
<form action="{% url 'movies:comments_create' movie.pk %}" method='POST'>
  {% csrf_token %}
  {{comment_form}}
  <input type="submit">
</form>
<hr>
<h4>댓글</h4>
<ul>
  {% for comment in comments %}
    <li>
      {{comment.content}}
      {% if  user == comment.user  %}
      <form action="{% url 'movies:comment_delete' movie.pk comment.pk %}" method='POST'>
        {% csrf_token %}
        <input type="submit" value='Delete'>
      </form>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endblock  %}