{% extends 'base.html' %}

{% block content %}
<h1>DETAIL</h1>
<img src="{{movie.poster_path}}" alt="bb">
<h3 class="my-3">{{movie.title}}</h3>
<p>{{movie.overview}}</p>
<p>평점 : {{movie.vote_average}}</p>
<p>관객수 : {{movie.vote_count}}</p>
<p>개봉일 : {{movie.release_date}}</p>


<hr>
<h3>REVIEWS</h3>
<ul>
  {% for comment in reviews %}
    <li>
      {{ comment.user }} - {{ comment.content }} - {{ comment.grade }}
    </li>
  {% endfor %}
</ul>
<hr>

<form action="{% url 'movies:moviereview_create' movie.pk %}" method="POST">
  {% csrf_token %}
  {{ review_form }}
  <input type="submit">
</form>
{% endblock %}
