{% extends 'base.html' %}

{% block content %}
  <h1>Movies</h1>
  <form action="{% url 'movies:index'%}" method="POST">
    {% csrf_token %}
    {% if vote_checked == "release_date" %}
    <button name="checking" value="to-vote"> recently </button>
    {% elif vote_checked == "vote_average" %}
    <button name="checking" value="to-popu"> vote </button>
    {% else %}
    <button name="checking" value="to-recently"> popu </button>
    {% endif %}

    {% if sort_level == 'down' %}
    <button name="sort_level" value="to-up">내림</button>
    {% else %}
    <button name="sort_level" value="to-down">오름</button>
    {% endif %}
    
    <input type="text" name="movie_query" value="{{ movie_query }}">
    <input type="submit"><br>

    {% if  drama_check == 'on'%}
    <button name="drama_check" value="to-off"> 드라마 </button>
    {% else %}
    <button name="drama_check" value="to-on"> 드라마 필수 </button>
    {% endif %}
    {% if  action_check == 'on'%}
    <button name="action_check" value="to-off"> 액션 </button>
    {% else %}
    <button name="action_check" value="to-on"> 액션 필수 </button>
    {% endif %}

  </form>

  <a href="{% url 'movies:recommended' %}">추천!</a>
  <hr>
  
  {% for movie in movies %}
  <h3>{{movie.title}}</h3>
  {% comment %} <p>{{movie.overview}}</p> {% endcomment %}
  <p>release_date: {{movie.release_date}}</p>
  <p>vote_average: {{movie.vote_average}}</p>
  <p>popularity: {{movie.popularity}}</p>
  <p>runtime: {{movie.runtime}}</p>
  <p>country: {{movie.production_countries}}</p>
  
  {% comment %} 장르를 한글로 표시하기 위함,, 데이터 처리에는 불편한 요소인듯 {% endcomment %}
  <p>genres:
    {% for genre in movie.genres.all %}
      {{genre.name}}{{genre.id}} 
    {% endfor %}
  </p>
  <a href="{% url 'movies:detail' movie.pk%}">자세히</a>
  <hr>
  {% endfor %}
  <a href="{% url 'movies:index' %}">뒤로</a>
{% endblock %}
